html {
    box-sizing: border-box;   
}

.calendar {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}


.hour-bars {
    margin-top:90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.court-block{
    display:flex;
    position:relative;
}

.hour_container{
    display: flex;
}

.hour_sub_block {
    width: 90px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    
}


.timeInterval {
    border: 1px solid grey;
    width: 90px;
    height: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: green;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 80%;
    user-select: none;
}



.duration_container {
    position: absolute;
    height: 100%;
}

.duration_sub_block {
    position: absolute;
    box-sizing: border-box;
    border: 2px solid gray;
    height: 100%;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}

.duration_sub_block.overlap {
    background-color: #ed4245 !important; 
}